

    .box{
        flex: 1;
        margin-top: 15px;
        justify-self: center;
        margin-left: 20px;
    }


    @media screen and (max-width:600px) {
        .box{
            flex:none;
            width: 100%;
            height: 100%;
            margin-left: 0;
        }
    }