.button{
    background-color:red;
    width: 9rem;
    height: 37px;
    padding: 3px;
    border-radius: 17px;
    color: white;
    font-size: 17px;
    font-family: sans-serif;
    align-items: center;
    margin-left: 20px;
    margin-top: 5px;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
}
.button1{
    background-color:white;
    width: 9rem;
    height: 37px;
    padding: 3px;
    border-radius: 17px;
    color:black;
    font-size: 17px;
    font-family: sans-serif;
    align-items: center;
    margin-left: 20px;
    margin-top: 5px;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
}

.reaction{
    display: flex;
    justify-content: space-between;
}

button{
    background:none;
    border: none;
    outline: none;
    cursor: pointer;
    
    
}